<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Additional Information</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<h2>Experienced on:</h2>
			<p class="pada">- Communication between hardware and software</p>
			<p class="pada">- Gmaps Api</p>
			<p class="pada">- Leaflet Api</p>
			<p class="pada">- Google Api</p>
			<p class="pada">- Creating restfull Api</p>
			<p class="pada">- Creating responsive css structures</p>
			<p class="pada">- Smart contracts (Neo, Ethereum)</p>
			<p class="pada">- Hyperledger fabric</p>
		</div>
		<br>
	</div>
</div>