<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Additional Information</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<h2>Experience on:</h2>
			<p class="pada">- Communication between hardware and software</p>
			<p class="pada">- Working with GPS device Trackers(TK103)</p>
			<p class="pada">- Test Driven Development (TDD)</p>
			<p class="pada">- Unit testing</p>
			<p class="pada">- Node.js cluster workers(since it's single threaded)</p>
			<p class="pada">- Gmaps Api</p>
			<p class="pada">- Leaflet Api</p>
			<p class="pada">- Google Api</p>
			<p class="pada">- Creating restfull Api</p>
			<p class="pada">- Creating responsive css structures</p>
			<p class="pada">- Smart contracts (Neo, Ethereum)</p>
			<p class="pada">- Hyperledger fabric</p>
		</div>
		<br>
		<div>
			<h2>Web Development:</h2>
			<p class="pada">
				Through building web applications, I have also worked with various client side
				technology,
				having used Material UI, Bootstrap, LESS, SASS.
			</p>
		</div>
		<br>
		<div>
			<h2>Mobile development:</h2>
			<p class="pada">With ionic, I've integrated mobile tracking system for ios and android respectively. It uses
				accelerometer,
				gyroscope and magnetometer to detect when the device is moving
				and also It's a battery-conscious motion-detection</p>
		</div>
		<br>
	</div>
</div>

<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>A little about me</h1>
	</div>
	<div class="content-rounded-panel">
		I am sincere, friendly, curious, ambitious, hard working, coffee addicted guy named Nick from beautiful country Georgia, 
		Tbilisi and I am so happy if you are reading this.
		<br>
		If you ask me <strong>"Why are you developer Nick"?</strong> I will answer:  
		When I was a kid, I always liked to create anything from scratch. I'd spend so many hours alone in the room, trying to
		build something that other people would love and use. At school, I loved physics and mathematics and at that time, I realised
		I wanted to become a computer programmer. Why? because it would let me do whatever I want and however I want.
		<br>
		I’m constantly learning web technologies and other design related topics, 
		currently playing around with Javascript, PHP, Node.js. I’m a skilled in many areas of design and development
		and always ready to help you as I can.
		<br>
		Five years ago I started my career as a newcomer, and today I am far from that point.
	</div>
</div>