<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a full stack developer working at Birtvi,
			having previously spent over 4 years as a full-stack developer at Kairos logistic ltd and dolphin software.
			<br /><br />
			I enjoy creating great products with great user experiences and working in a
			dynamic environment with a focus on good development practices,
			automation and shipping small, frequent releases.
			<br /><br />
			Experienced in Design patterns, TDD, MVVM, MVC, Hyperledger fabric, Solidity and functional programing.
			<br /><br />
			Winner of <strong>Neo black sea community hackathon 2018</strong>
			<a href="https://blockference.com/article/the-n-e-o-black-sea-community-hackathon">View</a>
		</div>
		<br>
	</div>
</div>